footer.footerMain
	a(href='#pageTop').footerMain-topLink Back To Top
		i.footerMain-topLinkIcon.fa-chevron-up
	.footerMain-inner
		.footerMain-main
			ul.footerMain-nav
				li.footerMain-navItem
					a(href='/hcp/site-map').footerMain-navLink Site Map
				li.footerMain-navItem
					a(href='https://www.amgen.com/privacy-statement/' target='_blank').footerMain-navLink Privacy Statement
				li.footerMain-navItem
					a(href='https://www.amgen.com/terms-of-use/' target='_blank').footerMain-navLink Terms of Use
				li.footerMain-navItem
					a(href='http://www.amgenoncology.com/' target='_blank').footerMain-navLink Amgen Oncology
				li.footerMain-navItem
					a(href='http://www.amgenassist360.com/hcp/vectibix-reimbursement-financial-assistance/' target='_blank').footerMain-navLink Amgen Assist 360
						sup TM
				li.footerMain-navItem
					a(href='https://www.amgenmedinfo.com/home' target='_blank').footerMain-navLink Amgen MedInfo
			.footerMain-logo 
				a(href='http://www.amgen.com/' target='_blank').footerMain-logoLink
					img(src='img/template-images/logo-amgen.png').footerMain-logoImg
		.footerMain-collateral
			p &copy; 2017 Amgen Inc. All rights reserved. USA-945-103094(5)
			p This website is intended for US healthcare professionals only.
